.contenedor-fondo{
    height: 50vh;
    position: fixed;
    left: 0;
    background-size: cover;
    overflow: hidden;
    z-index: -10;
    background-repeat: no-repeat;
}
.imagenbody{
    
    height: 100%;
    background-repeat: no-repeat;

}
.contenedor-fondo2{
    height: 70vh;
    position: fixed;
    right: 0;
    top: 30%;
    background-size: cover;
    overflow: hidden;
    z-index: -10;
    background-repeat: no-repeat;
}